/* pre.markup.code[markup-syntax="css"], pre.markup.code[markup-syntax="css"] * { */
pre.markup.code[markup-syntax] {
	-webkit-tab-size: 2;
	-moz-tab-size: 2;
	tab-size: 2;
}
pre.markup.code[markup-syntax='log'] {
	-webkit-tab-size: 12 !important;
	-moz-tab-size: 12 !important;
	tab-size: 12 !important;
	/* font-size: 75%; */
}
