# PACKAGES
workspaces-experimental true
save-prefix "^"
ignore-scripts false
ignore-optional false
ignore-engines true
color true
# REQUESTS
registry "https://registry.yarnpkg.com"
strict-ssl true
# INIT
init-author-name "Saleh Abdel Motaal"
init-author-email "saleh@grasppe.com"
init-version "0.0.1"
init-license "MIT"
init-scope "@draftout"
# VERSION
version-tag-prefix "v"
version-git-tag "true"
version-git-sign "false"
version-git-message "v%s"
